/* ScoreCard.css */

.card-body {
    padding: 1.25rem;
  }
  
  .card-header {
    font-size: 1.5rem;
    padding: 0.75rem 1.25rem;
  }
  
  .img-fluid {
    max-width: 50px;
  }
  
  .card-text {
    font-weight: bold;
    margin: 0 0.5rem;
  }
  
  .text-danger {
    font-size: 1.5rem;
    margin: 0 0.5rem;
  }
  
  .btn-link {
    color: yellow; /* Yellow color for the star */
  }
  
  .favorite-star {
    font-size: 1.5rem;
  }
  
  .text-left, .text-right {
    flex-basis: 33%;
  }
  
  .text-left {
    justify-content: flex-start;
  }
  
  .text-right {
    justify-content: flex-end;
  }
  
  .justify-content-center {
    flex-basis: 33%;
    text-align: center;
  }
  